<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</head>

<body>

    <div class="text-center">
        <h2>Create Movie Page</h2>
        <% if (msg) { %>
            <div class="alert alert-danger">
              <%= msg %>
            </div>
            <% } %>
        <form action="/movie/createForm/created" method="POST">
            <input type="text" class="fadeIn second" name="name" placeholder="Name" required>
            <input type="text" class="fadeIn third" name="lang" placeholder="Language" required>
            <input type="text" class="fadeIn third" name="genres" placeholder="Genres"
                pattern="[0-9a-zA-Z]+(,[0-9a-zA-Z]+)*" title="genre,genre" required>
            <input type="submit" class="fadeIn fourth" value="Save">
        </form>
        <a href="/menu" class="link-primary">Back</a>
    </div>

</body>

</html>